.btn-social{
    font-size: 16px!important;
}

.btn-github{
    background-color: black;
}

.btn-github:hover{
    background-color: rgba(0,0,0,.7);
}

.main-card{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
