.btn-social{
    font-size: 16px!important;
}

.btn-github{
    background-color: black;
}

.btn-github:hover{
    background-color: rgba(0,0,0,.7);
}

.main-card{
    display:flex;
    justify-content: center;
    align-items: center;
}